# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  displayName: 'Use Node.js 16.x'
  inputs:
    versionSpec: '16.x'

- script: npm install
  displayName: 'Install Truffle'

- script: npx truffle compile
  displayName: 'Compile contracts'

- script: npx truffle test
  displayName: 'Test contracts'

- task: PublishTestResults@2
  displayName: 'Publish test results'
  inputs:
    testRunTitle: 'Contract'
    testResultsFormat: 'JUnit'
    failTaskOnFailedTests: true
    testResultsFiles: '**/TEST-*.xml'

- task: CopyFiles@2
  displayName: Package tests
  inputs:
    SourceFolder: './test'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)/tests'

- script: npm install
  displayName: 'Install client dependencies'
  workingDirectory: $(System.DefaultWorkingDirectory)/client

- script: npm run build
  displayName: 'Build client'
  workingDirectory: $(System.DefaultWorkingDirectory)/client

- task: CopyFiles@2
  displayName: Package front end
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)/client/build'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)/frontend'

- task: PublishPipelineArtifact@1
  displayName: Publish artifacts
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)'
    artifact: 'drop'
    publishLocation: 'pipeline'