# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Build
    jobs:
      - job: Compile

        container: darquewarrior/ethereum:0.1.4

        steps:
          - script: npm install
            displayName: "Install Truffle"

          - script: npx truffle compile
            displayName: "Compile contracts"

          - script: npx truffle test
            displayName: "Test contracts"

          - task: PublishTestResults@2
            displayName: "Publish contract test results"
            inputs:
              testRunTitle: "Contract"
              testResultsFormat: "JUnit"
              failTaskOnFailedTests: true
              testResultsFiles: "**/TEST-*.xml"

          - task: CopyFiles@2
            displayName: Package tests
            inputs:
              Contents: |
                $(System.DefaultWorkingDirectory)/test/**
                package.json
              TargetFolder: "$(Build.ArtifactStagingDirectory)/tests"

          - task: PublishPipelineArtifact@1
            displayName: Publish contract tests
            inputs:
              targetPath: "$(Build.ArtifactStagingDirectory)/tests"
              artifact: "tests"
              publishLocation: "pipeline"

          - task: CopyFiles@2
            displayName: Package contracts
            inputs:
              Contents: |
                $(System.DefaultWorkingDirectory)/package.json
                $(System.DefaultWorkingDirectory)/migrations/**
                $(System.DefaultWorkingDirectory)/truffle-config.js
                $(System.DefaultWorkingDirectory)/client/src/contracts/**
              TargetFolder: "$(Build.ArtifactStagingDirectory)/contracts"

          - task: PublishPipelineArtifact@1
            displayName: Publish contracts
            inputs:
              targetPath: "$(Build.ArtifactStagingDirectory)/contracts"
              artifact: "contracts"
              publishLocation: "pipeline"

          - script: npm install
            displayName: "Install client dependencies"
            workingDirectory: $(System.DefaultWorkingDirectory)/client

          - script: npm run build
            displayName: "Build client"
            workingDirectory: $(System.DefaultWorkingDirectory)/client

          - script: CI=true npm test -- --reporters=default --reporters=jest-junit
            displayName: "Test client"
            workingDirectory: $(System.DefaultWorkingDirectory)/client

          - task: PublishTestResults@2
            displayName: "Publish client test results"
            inputs:
              testRunTitle: "Client"
              testResultsFormat: "JUnit"
              failTaskOnFailedTests: true
              testResultsFiles: "client/junit*.xml"

          - task: PublishPipelineArtifact@1
            displayName: Publish client
            inputs:
              targetPath: "$(System.DefaultWorkingDirectory)/client/build"
              artifact: "client"
              publishLocation: "pipeline"

          # Publish the API before you run npm install belwo so you don't
          # publish the node_modules folder
          - task: PublishPipelineArtifact@1
            displayName: Publish API
            inputs:
              targetPath: "$(System.DefaultWorkingDirectory)/api"
              artifact: "api"
              publishLocation: "pipeline"

          - script: npm install
            displayName: "Install API dependencies"
            workingDirectory: $(System.DefaultWorkingDirectory)/api

          - script: CI=true npm test -- --reporters=default --reporters=jest-junit
            displayName: "Test API"
            workingDirectory: $(System.DefaultWorkingDirectory)/api
            env:
              networkAddress_4: "0x7a063c7e4A0EC2fB4dC0F73103Fd45F17b46Ae52"

          - task: PublishTestResults@2
            displayName: "Publish API test results"
            inputs:
              testRunTitle: "API"
              testResultsFormat: "JUnit"
              failTaskOnFailedTests: true
              testResultsFiles: "api/junit*.xml"

          - task: CopyFiles@2
            displayName: Package IaC
            inputs:
              Contents: $(System.DefaultWorkingDirectory)/iac/**
              TargetFolder: "$(Build.ArtifactStagingDirectory)"

          - task: PublishPipelineArtifact@1
            displayName: Publish IaC
            inputs:
              targetPath: "$(Build.ArtifactStagingDirectory)/iac"
              artifact: "iac"
              publishLocation: "pipeline"

  - stage: Dev
    dependsOn: Build
    jobs:
      - job: IaC
        steps:
          - checkout: none
          - download: none

          - task: DownloadPipelineArtifact@2
            displayName: Download artifacts

          - task: AzureCLI@2
            name: deploy
            displayName: Deploy SWA
            inputs:
              azureSubscription: "ca-dbrown-demo-test(d3b805bb-2146-42a2-93fd-0b67c338317e)"
              scriptType: "pscore"
              scriptLocation: "scriptPath"
              scriptPath: "$(Agent.BuildDirectory)/iac/deploy.ps1"
              arguments: "-repoUrl $(Build.Repository.Uri) -rgName TruffleSample_dev -deployGanache -verbose"
              workingDirectory: "$(Agent.BuildDirectory)/iac"

      - job: Deploy_Contracts
        variables:
          # map the output variable from build stage into this job
          ganacheIp: $[ dependencies.IaC.outputs['deploy.ganacheIp'] ]
        displayName: Deploy Contracts
        dependsOn: IaC
        container: darquewarrior/ethereum:0.1.4

        steps:
          - checkout: none
          - download: none

          - task: DownloadPipelineArtifact@2
            displayName: Download artifacts

          - script: npm install
            displayName: "Install Truffle"
            workingDirectory: $(Agent.BuildDirectory)/contracts

          - script: "npx truffleazure-pipelines.yml migrate --network development --reset --compile-none"
            displayName: Deploy contracts
            workingDirectory: $(Agent.BuildDirectory)/contracts
            env:
              DEV_NETWORK: $(ganacheIp)

          - pwsh: |
              # Load the contract JSON that should have a single network property
              # after the contract migration above
              $contract = Get-Content ./client/src/contracts/SimpleStorage.json | ConvertFrom-Json

              # The networkId is the name of the only property in the networks object
              $networkId = $contract.networks[0] | Get-Member -MemberType NoteProperty | Select-Object -ExpandProperty name

              # Get the address property
              $address = $contract.networks.$networkId.address

              if($address) {
                Write-Host "##[section]Contract address: $address"
              } else {
                Write-Host "##vso[task.logissue type=error]Address not found"
              }

              Write-Host "##vso[task.setvariable variable=networkId;isOutput=true]$networkId"
              Write-Host "##vso[task.setvariable variable=contractAddress;isOutput=true]$address"
            displayName: Find contract address
            name: contract
            workingDirectory: $(Agent.BuildDirectory)/contracts

      - job: Deploy_Frontend
        displayName: Deploy Frontend
        dependsOn:
          - IaC
          - Deploy_Contracts
        variables:
          # map the output variable from build stage into this job
          swaName: $[ dependencies.IaC.outputs['deploy.swaName'] ]
          deploymentToken: $[ dependencies.IaC.outputs['deploy.deploymentToken'] ]
          networkId: $[ dependencies.Deploy_Contracts.outputs['contract.networkId'] ]
          contractAddress: $[ dependencies.Deploy_Contracts.outputs['contract.contractAddress'] ]

        steps:
          - checkout: none
          - download: none

          - task: DownloadPipelineArtifact@2
            displayName: Download artifacts

          - task: AzureStaticWebApp@0
            displayName: Deploy frontend
            inputs:
              api_location: api
              app_location: client
              skip_app_build: true
              workingDirectory: $(Pipeline.Workspace)
              azure_static_web_apps_api_token: $(deploymentToken)

          - task: AzureCLI@2
            displayName: Configure API
            inputs:
              azureSubscription: "ca-dbrown-demo-test(d3b805bb-2146-42a2-93fd-0b67c338317e)"
              scriptType: "pscore"
              scriptLocation: "inlineScript"
              inlineScript: "az staticwebapp appsettings set --name $(swaName) --setting-names networkAddress=$(contractAddress) networkAddress_$(networkId)=$(contractAddress)"

  - stage: dev_validation
    displayName: Dev Validation
    variables:
      # map the output variable from A into this job
      swa_url: $[ stageDependencies.Dev.Deploy_Frontend.outputs['AzureStaticWebApp.static_web_app_url'] ]
    jobs:
      - job: waitForValidation
        displayName: Wait for external validation
        pool: server
        timeoutInMinutes: 1440 # job times out in 1 day
        steps:
          - task: ManualValidation@0
            timeoutInMinutes: 1440 # task times out in 1 day
            inputs:
              notifyUsers: |
                $(Build.RequestedForEmail)
              instructions: |
                Please validate the recent changes to your dApp and click resume.

                $(swa_url)
              onTimeout: "reject"
      - job: delete_dev
        displayName: Delete Dev environment
        dependsOn: waitForValidation
        variables:
          # map the output variable from A into this job
          resourceGroup: $[ stageDependencies.Dev.IaC.outputs['deploy.resourceGroup'] ]
        steps:
          - task: AzureCLI@2
            displayName: Delete Dev resource group
            inputs:
              azureSubscription: "ca-dbrown-demo-test(d3b805bb-2146-42a2-93fd-0b67c338317e)"
              scriptType: "pscore"
              scriptLocation: "inlineScript"
              inlineScript: "az group delete --name $(resourceGroup) --yes --no-wait"

  - stage: QA
    dependsOn: dev_validation
    jobs:
      - job: IaC
        steps:
          - checkout: none
          - download: none

          - task: DownloadPipelineArtifact@2
            displayName: Download artifacts

          - task: AzureCLI@2
            name: deploy
            displayName: Deploy SWA
            inputs:
              azureSubscription: "ca-dbrown-demo-test(d3b805bb-2146-42a2-93fd-0b67c338317e)"
              scriptType: "pscore"
              scriptLocation: "scriptPath"
              scriptPath: "$(Agent.BuildDirectory)/iac/deploy.ps1"
              arguments: "-repoUrl $(Build.Repository.Uri) -rgName TruffleSample_qa -verbose"
              workingDirectory: "$(Agent.BuildDirectory)/iac"

      - job: Deploy_Contracts
        displayName: Deploy Contracts
        dependsOn: IaC
        container: darquewarrior/ethereum:0.1.4

        steps:
          - checkout: none
          - download: none

          - task: DownloadPipelineArtifact@2
            displayName: Download artifacts

          - script: npm install
            displayName: "Install Truffle"
            workingDirectory: $(Agent.BuildDirectory)/contracts

          - script: "npx truffle migrate --network rinkeby --reset --compile-none"
            displayName: Deploy contracts
            workingDirectory: $(Agent.BuildDirectory)/contracts
            env:
              NEMONIC: $(NEMONIC)
              INFURA_PROJECT_ID: $(INFURA_PROJECT_ID)

          - pwsh: |
              # Load the contract JSON that should have a single network property
              # after the contract migration above
              $contract = Get-Content ./client/src/contracts/SimpleStorage.json | ConvertFrom-Json

              # The networkId is the name of the only property in the networks object
              $networkId = $contract.networks[0] | Get-Member -MemberType NoteProperty | Select-Object -ExpandProperty name

              # Get the address property
              $address = $contract.networks.$networkId.address

              if($address) {
                Write-Host "##[section]Contract address: $address"
              } else {
                Write-Host "##vso[task.logissue type=error]Address not found"
              }

              Write-Host "##vso[task.setvariable variable=networkId;isOutput=true]$networkId"
              Write-Host "##vso[task.setvariable variable=contractAddress;isOutput=true]$address"
            displayName: Find contract address
            name: contract
            workingDirectory: $(Agent.BuildDirectory)/contracts

      - job: Deploy_Frontend
        displayName: Deploy Frontend
        dependsOn:
          - IaC
          - Deploy_Contracts
        variables:
          # map the output variable from build stage into this job
          swaName: $[ dependencies.IaC.outputs['deploy.swaName'] ]
          deploymentToken: $[ dependencies.IaC.outputs['deploy.deploymentToken'] ]
          networkId: $[ dependencies.Deploy_Contracts.outputs['contract.networkId'] ]
          contractAddress: $[ dependencies.Deploy_Contracts.outputs['contract.contractAddress'] ]

        steps:
          - checkout: none
          - download: none

          - task: DownloadPipelineArtifact@2
            displayName: Download artifacts

          - task: AzureStaticWebApp@0
            displayName: Deploy frontend
            inputs:
              api_location: api
              app_location: client
              skip_app_build: true
              workingDirectory: $(Pipeline.Workspace)
              azure_static_web_apps_api_token: $(deploymentToken)

          - task: AzureCLI@2
            displayName: Configure API
            inputs:
              azureSubscription: "ca-dbrown-demo-test(d3b805bb-2146-42a2-93fd-0b67c338317e)"
              scriptType: "pscore"
              scriptLocation: "inlineScript"
              inlineScript: "az staticwebapp appsettings set --name $(swaName) --setting-names networkAddress=$(contractAddress) networkAddress_$(networkId)=$(contractAddress)"

  - stage: qa_validation
    displayName: QA Validation
    variables:
      # map the output variable from A into this job
      swa_url: $[ stageDependencies.QA.Deploy.outputs['AzureStaticWebApp.static_web_app_url'] ]
    jobs:
      - job: waitForValidation
        displayName: Wait for external validation
        pool: server
        timeoutInMinutes: 1440 # job times out in 1 day
        steps:
          - task: ManualValidation@0
            timeoutInMinutes: 1440 # task times out in 1 day
            inputs:
              notifyUsers: |
                $(Build.RequestedForEmail)
              instructions: |
                Please validate the recent changes to your dApp and click resume.

                $(swa_url)
              onTimeout: "reject"
      - job: delete_qa
        displayName: Delete QA environment
        dependsOn: waitForValidation
        variables:
          # map the output variable from A into this job
          resourceGroup: $[ stageDependencies.QA.IaC.outputs['deploy.resourceGroup'] ]
        steps:
          - task: AzureCLI@2
            displayName: Delete QA resource environment
            inputs:
              azureSubscription: "ca-dbrown-demo-test(d3b805bb-2146-42a2-93fd-0b67c338317e)"
              scriptType: "pscore"
              scriptLocation: "inlineScript"
              inlineScript: "az group delete --name $(resourceGroup) --yes --no-wait"

  - stage: Prod
    dependsOn: qa_validation
    jobs:
      - job: Deploy
        steps:
          - script: echo Prod
