# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Web3 CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      checks: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v3
      name: 'Checkout DarqueWarrior/TruffleSample'

    - uses: actions/setup-node@v3
      name: Use Node.js 16.x
      with:
        node-version: 16.x
        cache: 'npm'

    - run: npm install
      name: 'Install Truffle'

    - run: npx truffle compile
      name: 'Compile contracts'

    - run: npx truffle test
      name: 'Test contracts'

    - uses: EnricoMi/publish-unit-test-result-action@v1
      name: Publish Unit Test Results
      if: success() || failure()
      with:
        files: 'TEST-results.xml'

    - run: npm install
      name: 'Install client dependencies'
      working-directory: './client'

    - run: npm run build
      name: 'Build client'
      working-directory: './client'

    - run: CI=true npm test -- --coverage
      name: 'Test client'
      working-directory: './client'

    - uses: actions/upload-artifact@v2
      name: Publish client
      with:
        name: client
        path: './client/build'
